// Borders de cards
.card-with-border1 {
    border-left: 4px solid #90caf9;
}
.card-with-border2 {
border-left: 4px solid #4bc0c0;
}
.card-with-border3 {
border-left: 4px solid #acd079;
}
.card-with-border4 {
    border-left: 4px solid #e47215;
}
.card-with-border5 {
    border-left: 4px solid #aa003d;
}
.card-with-border6 {
    border-left: 4px solid #96d1d5;
}
.card-with-border7 {
    border-left: 4px solid #D6BBFF;
}
.card-with-border8 {
    border-left: 4px solid #A3A990;
}
.card-with-floor1 {
    border-bottom: 4px solid #A3A990;
}
.card-with-floor2 {
    border-bottom: 4px solid rgb(75, 192, 192);
}
.card-with-floor3 {
    border-bottom: 4px solid #aa003d;
}
